[submodule "vendors/imguizmo/ImGuizmo"]
	path = vendors/imguizmo/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "vendors/imguifiledialog/ImGuiFileDialog"]
	path = vendors/imguifiledialog/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "vendors/imguicolortextedit/ImGuiColorTextEdit"]
	path = vendors/imguicolortextedit/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "vendors/imgui/imgui"]
	path = vendors/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendors/glew"]
	path = vendors/glew
	url = https://github.com/Perlmint/glew-cmake.git
